<br />
<br />

<div class="jumbotron">
    <h1>欢迎光临</h1>
    <br />
    <p class="lead">
        我的个人网站开通了，这是我做的一个Demo。用来演示 Vue + WebAPI 技术。欢迎大家留下自己的想法和建议。
    </p>
    <br />
    <p><a href="~/todo.html" class="btn btn-primary btn-lg">立即体验 &raquo;</a></p>
</div>

